<section>
    	<form>
			<h1><a href="Login.html">PinPost</a></h1>
    			<input type="text" id='login' name='login'placeholder="Email">
    			<input type="password" name="password" id="password" placeholder="Password">
    			<button type="submit" name="submit">
				    	<i class="icon-arrow-right"></i>
				    	<span>Login</span>
				</button>

				
				</form>
				</section>