<section>

            <h1><a href="Login.html">PinPost</a></h1>
    	       <form>
			
    			<input type="text" id='signup' name='signup'placeholder="First Name">
    			<input type="text" id='signup' name='signup'placeholder="Last Name">
    			<input type="text" id='login' name='login'placeholder="Email">
    			<input type="password" name="password" id="password" placeholder="Password">
    			
                <p>
                    <button type="button" class="btn btn-primary">Sign up</button>
                    <button type="button" class="btn btn-default">login</button>
                </p>

			
	           	</form>
	       </section>